<!DOCTYPE html>
<html>
  <head>
    <title>NewChess</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <script type="text/javascript">
        window.images = {
          chessSprites: "<%=image_url('chess-piece-sprites.png')%>"
        }
    </script>

    <%= yield %>
  </body>
</html>
